<link rel="stylesheet" href="../static/input-form.css">
<form action="/" method="POST" class="input-form">
    <input
        name="name" 
        id="name"
        class="input-text" 
        type="text" 
        placeholder="Name" 
        required>
    <textarea 
        name="content"
        id="message"
        class="input-text" 
        type="text" 
        placeholder="Message" 
        required></textarea>
    <button type="submit">submit</button>
</form>