<div class="input-form">
    <input id="name" class="input-text" type="text" placeholder="Enter your name">
    <input id="message" class="input-text" type="text" placeholder="Enter your message">
    <button type="submit">submit</button>
</div>